<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='POS Payment'; closeToHome = true">
</div>

<div class="modal-content" ng-controller="posPaymentController as pos" ng-init="pos.init()">

  <div class="box-notification m20t" ng-show="pos.error" ng-click="pos.resetError()">
    <span class="text-warning">
      {{pos.error|translate}}
    </span>
  </div>

  <div class="text-center text-gray m20t size-16">
    <div class="m20b">{{pos.message}}</div>
  </div>

  <h4></h4>
  <ul class="no-bullet">
    <li class="line-b" ng-repeat="w in pos.wallets">
    <a ng-click="pos.payFromWallet(w.id)" class="db oh">
      <div class="avatar-wallet"
        ng-style="{'background-color':w.color}">
        <i class="icon-wallet size-21"></i>
      </div>
      <div class="ellipsis name-wallet text-bold">{{w.name || w.id}}</div>
      <div class="size-12">{{w.m}} of {{w.n}}
        <span ng-show="w.network=='testnet'">[Testnet]</span>
      </div>
    </a>
    </li>
  </ul>

</div>

<div class="extra-margin-bottom"></div>
