<nav class="sidebar-left" ng-controller="sidebarRightController as sidebar">
  <div class="sidebar-left-bg" ng-style="{'background':theme.view.sidebarLBackground}">

    <ion-content overflow-scroll="true"
      ng-style="{'border-top-color':theme.view.sidebarLHeaderBottomBorderColor}">

  <style>
    .applet-launch-container:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .applet-launch-container:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .applet-launch-container pre {
      border: 0;
      background-color: transparent;
    }
    .applet-launch-container .ex-moved {
      background-color: #e74c3c;
    }
    .applet-launch-container div, .gu-mirror {
      margin: 0px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
      cursor: move;
      cursor: grab;
      cursor: -webkit-grab;
      float: left;
    }
    .applet-launch-container.width25.gu-over-active.gu-over-accept {
      background-color: green !important;
    }
    .applet-launch-container.width25.gu-over-active.gu-over-decline {
      background-color: red !important;
    }
    .custom-green-mirror {
      background-color: #56AB1C;
      margin: 10px;
      padding: 10px;
      cursor: move;
      cursor: grab;
      cursor: -webkit-grab;
      opacity: 0.8;
      position: fixed !important;
      margin: 0 !important;
      z-index: 9999 !important;
    }

    .applet-icon {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 100px;
    }
    .applet-icon .name {
      font-size: 14px;
      margin-top: 3px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>

  <div class="applet-launch-container" dragular="sidebar.dragularOptions">
    <div class="applet-icon">
      <img height="60" width="60" src="applets/bitrefill/img/icon.png">
      <span class="name">Bitrefill</span>
    </div>
    <div class="applet-icon">
      <img height="60" width="60" src="applets/bitrefill/img/icon.png">
      <span class="name">American Red Cross</span>
    </div>
    <div class="applet-icon">
      <img height="60" width="60" src="applets/bitrefill/img/icon.png">
      <span class="name">BitPay Visa</span>
    </div>
    <div class="applet-icon">
      <img height="60" width="60" src="applets/bitrefill/img/icon.png">
      <span class="name">Other 1</span>
    </div>
    <div class="applet-icon">
      <img height="60" width="60" src="applets/bitrefill/img/icon.png">
      <span class="name">Other 2</span>
    </div>
  </div>

  </ion-content>
  </div> <!-- sidebar-right-bg -->
</nav>