<ion-content scroll="false" has-bouncing="false" ng-controller="sidebarRightController as sidebar" ng-init="sidebar.init()"
  class="sidebar-right"
  ng-style="{'background':theme.view.sidebarRBackground}">

  <!-- status bar -->
  <div ng-class="index.useViewManagedStatusBar ? 'status-bar' : 'no-status-bar'">
  </div>

  <!-- wallet bar -->
  <div class="wallet-bar">
    <i class="icon-wallet"></i>
    <span class="wallet-name">
      {{sidebar.currentWallet().alias || sidebar.currentWallet().name}}
    </span>
    <span ng-if="sidebar.currentWallet().n > 1" class="wallet-copayers">({{sidebar.currentWallet().m}}/{{sidebar.currentWallet().n}})</span>
    <span class="wallet-balance">{{sidebar.currentWallet().balance}} {{sidebar.currentWallet().altBalance}}
      <img ng-show="sidebar.currentWallet().network == 'testnet'" src="img/icon-testnet-white.svg">
    </span>
  </div>

  <ion-slide-box delegate-handle="appletPresentationSlideBox" show-pager="false" style="height: 100%">
    <ion-slide>

      <div ng-include="'views/includes/applet-category-presentation.html'"
        ng-if="sidebar.isCategoryPresentation()" style="height: 100%;"></div>

      <div ng-include="'views/includes/applet-desktop-presentation.html'"
        ng-if="sidebar.isDesktopPresentation()" style="height: 100%;"></div>

      <div ng-include="'views/includes/applet-list-presentation.html'"
        ng-if="sidebar.isListPresentation()" style="height: 100%;"></div>

    </ion-slide>
    <ion-slide>

      <div ng-include="'views/includes/applet-category-list-presentation.html'"
        ng-if="sidebar.isCategoryPresentation() && sidebar.hasActiveCategory()" style="height: 100%;"></div>

    </ion-slide>
  </ion-slide-box>
  
</ion-content>
