
/*
 *
 * Copay mobile CSS
 *
 */

/* disabling text selection */
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-overflow-scrolling: touch;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

* {
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.fix-modals-touch {
  -webkit-overflow-scrolling: auto;
}

.enable_text_select {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* END disabling text selection */

.inner-wrap {
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

body {
  overflow: hidden;
  -ms-content-zooming: none;
}

/* Fix IE 10 */
.extra-margin-bottom {
  display: block;
  height: 63px;
  overflow: hidden;
  clear: both;
}

.main {
}

/* Fix IE 11 */
_:-ms-fullscreen, :root .extra-margin-bottom {
  display: block;
  height: 75px;
  overflow: hidden;
  clear: both;
}

_:-ms-fullscreen, :root .main {
  height: 99%;
  overflow: auto;
}

/* Fix Firefox */
@-moz-document url-prefix() {
  .extra-margin-bottom {
    display: block;
    height: 45px;
    overflow: hidden;
    clear: both;
  }
}

@-moz-keyframes fade-in-visible { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-webkit-keyframes fade-in-visible { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-ms-keyframes fade-in-visible { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-keyframes fade-in-visible { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}

@-moz-keyframes fade-out-hide { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-webkit-keyframes fade-out-hide { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-ms-keyframes fade-out-hide { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 
@-keyframes fade-out-hide { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }} 

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }

}

/* removes 300ms in IE */
-ms-touch-action: manipulation; /* IE10 /
touch-action: manipulation; /* IE11+ */

/*
 * Animations for closing an ionic modal.
 * See https://github.com/kevincobain2000/ionic-animated-modal
 */
.animated.modal.bounceIn.ng-leave {
  -webkit-animation-name:bounceOut;
  animation-name:bounceOut;
}
.animated.modal.bounceInDown.ng-leave {
  -webkit-animation-name:bounceOutUp;
  animation-name:bounceOutUp;
}
.animated.modal.bounceInLeft.ng-leave {
  -webkit-animation-name:bounceOutLeft;
  animation-name:bounceOutLeft;
}
.animated.modal.bounceInRight.ng-leave {
  -webkit-animation-name:bounceOutRight;
  animation-name:bounceOutRight;
}
.animated.modal.bounceInUp.ng-leave {
  -webkit-animation-name:bounceOutDown;
  animation-name:bounceOutDown;
}
.animated.modal.bounceOut.ng-leave {
  -webkit-animation-name:bounceOut;
  animation-name:bounceOut;
}
.animated.modal.fadeIn.ng-leave {
  -webkit-animation-name:fadeOut;
  animation-name:fadeOut;
}
.animated.modal.fadeInDown.ng-leave {
  -webkit-animation-name:fadeOutDown;
  animation-name:fadeOutDown;
}
.animated.modal.fadeInDownBig.ng-leave {
  -webkit-animation-name:fadeOutDownBig;
  animation-name:fadeOutDownBig;
}
.animated.modal.fadeInLeft.ng-leave {
  -webkit-animation-name:fadeOutLeft;
  animation-name:fadeOutLeft;
}
.animated.modal.fadeInLeftBig.ng-leave {
  -webkit-animation-name:fadeOutLeftBig;
  animation-name:fadeOutLeftBig;
}
.animated.modal.fadeInRight.ng-leave {
  -webkit-animation-name:fadeOutRight;
  animation-name:fadeOutRight;
}
.animated.modal.fadeInRightBig.ng-leave {
  -webkit-animation-name:fadeOutRightBig;
  animation-name:fadeOutRightBig;
}
.animated.modal.fadeInUp.ng-leave {
  -webkit-animation-name:fadeOutUp;
  animation-name:fadeOutUp;
}
.animated.modal.fadeInUpBig.ng-leave {
  -webkit-animation-name:fadeOutUpBig;
  animation-name:fadeOutUpBig;
}
.animated.modal.flipInX.ng-leave {
  -webkit-animation-name:flipOutX;
  animation-name:flipOutX;
}
.animated.modal.flipInY.ng-leave {
  -webkit-animation-name:flipOutY;
  animation-name:flipOutY;
}
.animated.modal.lightSpeedIn.ng-leave {
  -webkit-animation-name:lightSpeedOut;
  animation-name:lightSpeedOut;
}
.animated.modal.rotateIn.ng-leave {
  -webkit-animation-name:rotateOut;
  animation-name:rotateOut;
}
.animated.modal.rotateInDownLeft.ng-leave {
  -webkit-animation-name:rotateOutDownLeft;
  animation-name:rotateOutDownLeft;
}
.animated.modal.rotateInDownRight.ng-leave {
  -webkit-animation-name:rotateOutDownRight;
  animation-name:rotateOutDownRight;
}
.animated.modal.rotateInUpLeft.ng-leave {
  -webkit-animation-name:rotateOutUpLeft;
  animation-name:rotateOutUpLeft;
}
.animated.modal.rotateInUpRight.ng-leave {
  -webkit-animation-name:rotateOutUpRight;
  animation-name:rotateOutUpRight;
}
.animated.modal.slideInUp.ng-leave {
  -webkit-animation-name:slideOutDown;
  animation-name:slideOutDown;
}
.animated.modal.slideInDown.ng-leave {
  -webkit-animation-name:slideOutUp;
  animation-name:slideOutUp;
}
.animated.modal.slideInLeft.ng-leave {
  -webkit-animation-name:slideOutLeft;
  animation-name:slideOutLeft;
}
.animated.modal.slideInRight.ng-enter {
    -webkit-animation-name:slideInRight;
    animation-name:slideInRight;
    -webkit-animation-duration: 0.3s;
}
.animated.modal.slideInRight.ng-leave {
    -webkit-animation-name:slideOutRight;
    animation-name:slideOutRight;
    -webkit-animation-duration: 0.3s;
}
.animated.modal.zoomIn.ng-leave {
  -webkit-animation-name:zoomOut;
  animation-name:zoomOut;
}
.animated.modal.zoomInDown.ng-leave {
  -webkit-animation-name:zoomOutDown;
  animation-name:zoomOutDown;
}
.animated.modal.zoomInLeft.ng-leave {
  -webkit-animation-name:zoomOutLeft;
  animation-name:zoomOutLeft;
}
.animated.modal.zoomInRight.ng-leave {
  -webkit-animation-name:zoomOutRight;
  animation-name:zoomOutRight;
}
.animated.modal.zoomInUp.ng-leave {
  -webkit-animation-name:zoomOutUp;
  animation-name:zoomOutUp;
}
.animated.modal.rollIn.ng-leave {
  -webkit-animation-name:rollOut;
  animation-name:rollOut;
}