<ion-view class="settings">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Bitcoin Charts'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="settings-explanation">
      <div class="settings-description" translate>
        Choose your favorite bitcoin charts.
      </div>
    </div>
    <div class="list">
      <ion-toggle ng-model="chart.selected" toggle-class="toggle-balanced" ng-change="save(chart)"
        ng-repeat="chart in charts">
        <i class="icon left">
          <img src="img/icon-chart.svg">
        </i>
        <span class="toggle-label">{{chart.label}}</span>
      </ion-toggle>
    </div>
  </ion-content>
</ion-view>
